<div class="row justify-content-center pt-4 pb-4">
    <div class="col-12 col-md-8 col-lg-7 ">
      <div class="input-group">
        <span class="input-group-addon fh5co_footer_text_box" id="basic-addon1"><i class="fa fa-envelope"></i></span>
        <input type="text" class="form-control fh5co_footer_text_box" placeholder="${properties.text}" aria-describedby="basic-addon1">
       <a href="#" class="input-group-addon fh5co_footer_subcribe" id="basic-addon12"> <i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;Subscribe</a>
      </div>
	</div>
</div>
